%h3 portfolio
.row
  - @projects.each_with_index do |project, i|
    .col-xs-12.col-sm-6.col-lg-4.project
      %img.img-responsive{src: "/images/projects/#{ project["image"] }", alt: project["name"]}
      %h4= project["name"]
      .description
        %p= project["summary"]
    - if (i + 1) % 3 == 0
      .clearfix