!!!
%html
  %head
    %title Crimson Ash
    %link{href: "https://fonts.googleapis.com/css?family=Lato|Open+Sans", rel: "stylesheet"}
    %link{href: "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", rel: "stylesheet"}
    %link{href: "/css/main.css", rel: "stylesheet"}
  %body
    %header
      %h1 Kacper Marcisz
      %h2 Crimson Ash Media
      %ul
        %li
          %a{href: "#aboutme"} about me
        %li
          %a{href: "#portfolio"} portfolio
        %li
          %a{href: "#interests"} interests
        %li
          %a{href: "/pdf/resume.pdf"}
            resume
            %span.fa.fa-file-pdf-o
        %li
          %a.external{href: "https://github.com/kmarcisz"}
            github
            %span.fa.fa-share
        %li
          %a.external{href: "https://www.linkedin.com/in/kacpermarcisz"}
            linkedin
            %span.fa.fa-share
    .container
      = yield
    %footer
      = "&copy; Crimson Ash Media #{ @now.year }"
    %script{src: "/js/main.js"}