!!!
%html
  %head
    %title Crimson Ash
    %link{href: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "/css/main.css", rel: "stylesheet"}
  %body
    .megatron
      %h1 Kacper Marcisz
      %a{href: "/#portfolio"} portfolio
      %a{href: "/#contact"} contact
    .container
      .row
        .col-sm-12
          = yield