body
  font-family: "Open Sans", sans-serif
  margin: 0
  padding: 0

h1
  color: #ffffff

h3
  font-family: "Open Sans", sans-serif
  text-align: center
  text-transform: uppercase
  letter-spacing: 6px
  a
    color: #2a2a2a

.megatron
  padding: 150px 0
  margin-bottom: 4em
  text-align: center
  color: #f8f8f8
  background: url(/images/megatrons/black-abstract.jpg) no-repeat center center
  background-size: cover
  ul
    display: inline-block
    margin: 0 auto
    list-style: none
    li
      float: left
      a
        padding: 8px 16px
        transition: all 0.3s
        color: #ffffff
        &:hover
          text-decoration: none
          color: #ddd

.project
  margin-bottom: 2em
  h4
    text-align: center
    text-transform: uppercase
    letter-spacing: 3px